@import url("https://fonts.googleapis.com/css?family=Chicle|Patua+One");

.admin-message-text {
	font-style: normal;
	font-size: 22px;
	color: #004080;
}

.user-message-text {
	font-family: 'Patua One',serif;
	font-size: 40px;
	color: #ffd400;
}

.my-header {
    font-family: Helvetica, serif;
    font-size: 18px;
    text-align: center;
}

#bootstrap-overrides .my-background {
  background-color: rgba(255,255,255,0.5)
}

